J038 NLP Lab 3 Part 2

In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("date_parser_testcases.csv")
df.head()

                                               Input Expected Output
0        The event will take place on March 5, 2023.      05/03/2023
1                     Her birthday is on 07/08/1990.      07/08/1990
2                        The deadline is 2022-12-31.      31/12/2022
3                     We met on 1st of January 2000.      01/01/2000
4  The concert is scheduled for 15th September, 2...      15/09/2021

In [7]:
import re

In [23]:
import pandas as pd
import re

def extract_and_format_date(text):
   
    patterns = [
        # Pattern for dates in format YYYY-MM-DD
        (r'\b(\d{4})-(\d{2})-(\d{2})\b', r'\3/\2/\1'),
        # Pattern for dates in format DD/MM/YYYY
        (r'\b(\d{2})/(\d{2})/(\d{4})\b', r'\1/\2/\3'),
        # Pattern for dates in format DD Month YYYY 
        (r'\b(\d{1,2})(?:st|nd|rd|th)? (\w+),? (\d{4})\b', None),
        # Pattern for dates in format Month DD, YYYY 
        (r'\b(\w+) (\d{1,2}), (\d{4})\b', None)
    ]

    month_dict = {
        'January': '01', 
        'February': '02',
        'March': '03', 
        'April': '04',
        'May': '05', 
        'June': '06', 
        'July': '07', 
        'August': '08',
        'September': '09', 
        'October': '10', 
        'November': '11', 
        'December': '12'
    }

    for pattern, replacement in patterns:
        match = re.search(pattern, text)
        if match:
            groups = match.groups()
            if replacement:
                return re.sub(pattern, replacement, text)
            else:
                day, month_name, year = groups
                month_number = month_dict.get(month_name, '00')  # Default to '00' if month not found
                return f'{day.zfill(2)}/{month_number}/{year}'
    
    return 'Date not found'

In [24]:
df['Parsed Date'] = df['Input'].apply(extract_and_format_date)

df

,Input,Expected Output,Parsed Date
0,"The event will take place on March 5, 2023.",05/03/2023,March/00/2023
1,Her birthday is on 07/08/1990.,07/08/1990,Her birthday is on 07/08/1990.
2,The deadline is 2022-12-31.,31/12/2022,The deadline is 31/12/2022.
3,We met on 1st of January 2000.,01/01/2000,Date not found
4,"The concert is scheduled for 15th September, 2021.",15/09/2021,15/09/2021
...,...,...,...
95,"We celebrate Independence Day on 2023-07-04, as always.",04/07/2023,"We celebrate Independence Day on 04/07/2023, as always."
96,The final date for submission is 30th November 2022.,30/11/2022,30/11/2022
97,"The annual conference is on 15th October 2023, mark your calendars.",15/10/2023,15/10/2023
98,"His birthdate, noted as 1990-05-20, is in the records.",20/05/1990,"His birthdate, noted as 20/05/1990, is in the records."
99,"The festival will be celebrated on 12th August 2024, with grand events.",12/08/2024,12/08/2024